# Ignore TestComplete temporary and log files
*.tcLog
*.tcSession
*.tcProjectPanelLayout
*.tcCfgExt

# Ignore the project suite backup file
*.bak

# Ignore the Script backup file
*.py.bak

# Ignore the project suite layout file
*.tcProjectSuite

# Ignore the project suite metadata file
*.tcProjectSuite.tdsuit

# Ignore temporary files and folders
tmp/
temp/
*.tmp

# Ignore sensitive configuration files
*.env
*.settings

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore Log files and folders
Log/
Logs/
*.log

#Additional files
glob
*.js.bak
*.js.tcVis
*/Log/*
*.sj.bak
*.tcLS
*.tcCfgExtender
*.tcLogs